#contenido{
    float: left;
    width: 70%;
    height: auto;
    color: rgb(209, 65, 9);
    background-color: black;
    border-radius: 20px;
    border-width: 1vw;
    border-style: dashed;
    padding: 2vw;
    text-align: justify;
    border-radius: 20px;
}
article{
    width: 40%;
    border-width: 1vw;
    margin: 1vw;
    border-style: groove;
    text-align: center;
    float: left;
    height: 10vw;
}
#cabezera{
   text-align: center;
   width: auto;
   float: center;
   background-color: black;
   color: aqua;
   border-radius: 20px;
}

.foto{
    width: auto;
    float: center;
    margin: 2vw;
    border-color: black;
    border-width: 2vw;
    border-radius: 20px;
}

aside{
float: right;
width: 20%;
height: 100%;
background-color: crimson;
text-align: center;
border-radius: 20px;
}

body{
    background-color: grey;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}